*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

:root{
    --color-uno: #00425A;
    --color-dos: #1F8A70;
    --color-tres: #BFDB38;
    --color-cuatro: #FC7300;
}
header{
    background-color: var(--color-uno);
    min-width: 10vh; 
    min-height: 20vh;
    display: flex;
    padding: 1rem;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;    
}

header img {  
    height: 50px;
    width: 50px;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: var(--color-tres);
    text-align: center;
}

nav{
    background-color: var(--color-uno);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a{
    color: var(--color-uno);
    background-color:var(--color-tres);
    border: 1px solid var(--color-uno);
    width: 12rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
}

a:hover{
    background-color: var(--color-cuatro);
    color:var(--color-uno);
    border-color: var(--color-dos);
}

main{
    background-color: var(--color-dos);
    min-height: 79vh;
    padding: 2rem;
}

section {
    background-color: white;
    color: var(--color-uno);
    padding: 1rem;
}
section p{
    padding: 1rem;
    color: var(--color-uno);
    font-size: 1rem;
}

h4 {
    background-color: var(--color-uno);
    color:  var(--color-dos);
    font-size: 25px;
    padding: 1rem;
    text-align: center;
}

h5{
    background-color: var(--color-cuatro);
    color:  var(--color-uno);
    font-size: 1rem;
    padding: 1rem;
}

h6{
    background-color: var(--color-tres);
    color:  var(--color-uno);
    padding: 1rem;
}

table{
    width: 100%;
    border: 3px solid var(--color-uno);
    background-color: var(--color-cuatro);
    border-collapse: collapse;
    border-spacing: 1em;
    color: var(--color-uno);
}

th{
    border: 2px solid var(--color-uno);
}

td{
    border: 2px solid var(--color-uno);
    margin: 1em;
    padding: 2em;
    font-size: 1rem;
}

td > iframe{
    width: 150px;
    height: 150px;    
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
}

input{
    margin: 1rem;
    padding: 0.5rem;
}

.radius-column-school{
    flex-direction: column;
    width: 20rem;
    height: 12rem;
    align-items: flex-start;
}
 
.checkbox-column-position{
    flex-direction: column;
    width: 20rem;
    height: 7rem;
    align-items: flex-start;
}

.radius-column-uniform{
    flex-direction: column;
    width: 20rem;
    height: 15rem;
    align-items: flex-start;
}

#submit {
    padding: 1rem;
    background-color: var(--color-cuatro);
}

dl{
    color:  var(--color-uno);
    padding: 1rem;
}
dl > dt{
    display: inline-block;
    font-size: large;
    font-weight: bold;
}
dd{
    display: inline-block;
    font-size: 1em;
}
.list-inline-block {
    display: inline-block;
}

ol{
    color: var(--color-uno);
    font-size: 1rem;
    padding: 0;    
}

li{
    margin-left: 0px;
    padding: 1rem;
    list-style-type:none;
}

.list-regulation{
    list-style-type:decimal;
    margin-left: 1.5rem;
}

.ordered-list-fields{
    list-style-type:lower-alpha;
    padding: 0;
    margin: 0;
}

ul{
    color:  var(--color-uno);
    font-size: 1rem;
}

figure img{
    background-color: var(--color-tres);
    width: 100%;
    padding: 1rem;
}

footer{
    background-color: var(--color-cuatro);
    color: var(--color-uno);
    font-size: 1rem;
    font-style: italic;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}