*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

:root{
    --color-uno: #00425A;
    --color-dos: #1F8A70;
    --color-tres: #BFDB38;
    --color-cuatro: #FC7300;
}
header{
    background-color: var(--color-uno);
    min-width: 10vh; 
    display: flex;
    padding: 1rem;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem
    
}

header img {  
    height: 50px;
    width: 50px;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: var(--color-tres);
    /* background-color: var(--color-dos); */
    text-align: center;
}

nav{
    background-color: var(--color-dos);
    display: flex;
    align-items:baseline;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav a{
    color: var(--color-tres);
    background-color:var(--color-dos);
    width: 15rem;
    height: 3rem;
    padding: 1rem;
    text-align: center;
}
a:hover{
    background-color: var(--color-tres);
    color:var(--color-dos);
    border-color: var(--color-uno);
}
main{
    background-color: var(--color-dos);
}

section {
    width: 700px;
    background-color: var(--color-dos);
    margin-left: 20%;
    display: inline-block;
    position: static;
}
h4 {
    background-color: var(--color-tres);
    color:  var(--color-uno);
    width: 100%;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
h5 {
    background-color: var(--color-cuatro);
    color:  var(--color-uno);
    width: 80%;
    font-size: 20px;
    padding: 1rem;
    text-align: center;
}
section p{
    width: 75%;
    height: 50%;
    padding: 1rem;
}
figure img{
    background-color: var(--color-tres);
    border-color: var(--color-tres);
    display: inline-block;
    width: 500px;
    margin-left: 25%;
    padding: 20px;
}
footer{
    background-color: white;
    color:  var(--color-uno);
    padding: 10px;
}